.modal{
    position: absolute;
    right: 0px;
    top: 130px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: auto;
    height: auto;
    padding: 80px;
    border-radius: 5px;
    box-shadow: -12px 10px 23px -11px rgba(0,0,0,0.46);
    background-color: white;
    gap: 10px;
}
.container{
    display: flex;
    gap: 20px;
}
.right {
    display: flex;
    flex-direction: column;
}
.image{
    width: 100px;
    height: auto;
    object-fit: cover;
}