.wrapper{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 130%;
    color: #1E212C;
}
.top{
    margin-bottom: 20px;
}
.bottom{
    display: flex;
    justify-content: center;
}