.wrapper{
    height: fit-content;
    width: auto;
    z-index: -100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px;
}
.innerWrapper{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.title{
    display: flex;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
}
.slider{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}